body {
    background-color: blanchedalmond;
    font-family: "Dancing Script";
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: brown;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blueviolet;
}

h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
}

@font-face {
    font-family: "Dancing Script";
    src: url(../fonts/DancingScript-VariableFont_wght.ttf);
    font-weight: 400;
    font-style: normal;
}