body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: aquamarine;
}

a {
    box-sizing: border-box;
    size: ;
    color: rgb(216, 19, 19);

}

.fa-brands {
    font-size: 40px;
    color: blueviolet;
}