@font-face {
    font-family: "Bebas";
    src: url(../fonts/BebasNeue-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Bebas";
    background-color: rgb(188, 140, 233);
    color: brown;
    font-size: 1.2em;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: chocolate;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: cornflowerblue;
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: yellowgreen;
}