body {
    background-color: bisque;
    font-family: "Bokor";
    font-size: 18px;
    color: #333;
}


.iconlink {
    display: ;

    align-items: center;

    font-family: 'Bokor';

    font-size: 1.5em;

    color: #aa1e1e;

    text-decoration: none;

}



h1 {
    color: blueviolet;

}

@font-face {
    font-family: "Bokor";
    src: url(../fonts/Bokor-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}