body {
    background-image: url(https://img.reintech.io/variants/s2odbtfbi1vnj0v0lpk08uk9n9fl/e7b4ce09c703210ab8f75b017c7eaf0951c5a95b737ee8120602845c1c1d944b);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color: rgb(221, 146, 32);
    text-decoration: none;
}

h1 {

    color: rgb(15, 173, 121);
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    color: blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
}